body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #546a5f;
}

header {
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #000000;
    color: rgb(148, 0, 0);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ffffff; /* Jaune */
    text-decoration: none;
}

nav a:hover {
    color: #da1075; /* Rose */
}

.slideshow-container {
    position: relative;
    max-width: 80%;
    margin: auto;
}

.mySlides {
    display: none;
    position: relative;
}

.mySlides img {
    width: 80%; /* Ajustez la taille ici */
    border-radius: 15px; /* Bordures arrondies */
    margin: 20px auto;
    display: block;
}

.text {
    color: #fff;
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border-radius: 3px;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.gallery {
    padding: 20px;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

article img {
    width: 100%;
    border-radius: 10px;
}
